# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\diploma\flight_delay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
